table
{
    width: 100%;
}

td
{
    width: 33%;
    vertical-align: top;
}

.bookmark-element
{
    margin: 3px;
    padding: 2px;
}
.bookmark-category
{
    width: 75%;
    padding: 3px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
}
.bookmark-block
{
    border-style: double;
}
.bookmark-block-column
{
    width: 25%;
}
.bookmark-element
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
.bookmark-link
{
    font-family: "JetBrains Mono", Consolas, ".AppleSystemUIFont", Arial, serif;
    color: #404040;
}

